@{
    ViewData["Title"] = "Erreur";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">Une erreur est survenue</h1>
    <p class="lead">Désolé, une erreur inattendue s’est produite.</p>
    <p>
        <a class="btn btn-primary mt-3" asp-controller="Actors" asp-action="Index">Retour à l'accueil</a>
    </p>
</div>
